{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Ultimate Screenwriter</h1>

            <p>A tool to put the Movie back in your Screenplay!</p>

            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2>Back Engineering</h2>

            <p>Back engineer an existing screenplay into its structural comnponents, then use it's timing to tweak your own script!</p>

            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Timeline Editor</h2>

            <p>We edit movies on a timeline, so why not screenplays?</p>

            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Story Cards</h2>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>

            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
{% endblock content %}